(
  entities: {
    0: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 0.68280464,
              y: 0.0,
              z: -0.73060095,
            ),
            y_axis: (
              x: -0.43100196,
              y: 0.80745584,
              z: -0.40280557,
            ),
            z_axis: (
              x: 0.58992803,
              y: 0.589928,
              z: 0.5513346,
            ),
          ),
          translation: (
            x: 10.7,
            y: 10.7,
            z: 10.0,
          ),
        )),
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          priority: 100,
          is_active: false,
          hdr: false,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 10.7,
            y: 10.7,
            z: 10.0,
          ),
          rotation: (-0.28461123, 0.37858835, 0.12356588, 0.87200844),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::camera::camera::CameraRenderGraph": ("core_3d"),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.7771429,
          near: 0.1,
          far: 1000.0,
        )),
        "bevy_render::view::visibility::VisibleEntities": (),
        "bevy_render::primitives::Frustum": (),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          clear_color: Default,
          depth_load_op: Clear(0.0),
        ),
        "bevy_core_pipeline::tonemapping::Tonemapping": Enabled(
          deband_dither: true,
        ),
        "bevy_core::name::Name": (
          hash: 6556684836622968033,
          name: "Editor Camera 3D Free",
        ),
        "bevy_pbr::light::ClusterConfig": FixedZ(
          total: 4096,
          z_slices: 24,
          z_config: (
            first_slice_depth: 5.0,
            far_z_mode: MaxLightRange,
          ),
          dynamic_resizing: true,
        ),
      },
    ),
    1: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 0.9949998,
              y: 0.000000230968,
              z: 0.099876724,
            ),
            y_axis: (
              x: 0.047954947,
              y: 0.87718976,
              z: -0.47774357,
            ),
            z_axis: (
              x: -0.08761098,
              y: 0.48014432,
              z: 0.8728037,
            ),
          ),
          translation: (
            x: -0.5513049,
            y: 3.021378,
            z: 5.4922442,
          ),
        )),
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          priority: 100,
          is_active: true,
          hdr: false,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.5513049,
            y: 3.021378,
            z: 5.4922442,
          ),
          rotation: (-0.2474906, -0.048441414, -0.012390115, 0.9676003),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::camera::camera::CameraRenderGraph": ("core_3d"),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.7771429,
          near: 0.1,
          far: 1000.0,
        )),
        "bevy_render::view::visibility::VisibleEntities": (),
        "bevy_render::primitives::Frustum": (),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          clear_color: Default,
          depth_load_op: Clear(0.0),
        ),
        "bevy_core_pipeline::tonemapping::Tonemapping": Enabled(
          deband_dither: true,
        ),
        "bevy_core::name::Name": (
          hash: 11046016959717990679,
          name: "Editor Camera 3D Pan/Orbit",
        ),
        "bevy_pbr::light::ClusterConfig": FixedZ(
          total: 4096,
          z_slices: 24,
          z_config: (
            first_slice_depth: 5.0,
            far_z_mode: MaxLightRange,
          ),
          dynamic_resizing: true,
        ),
      },
    ),
    2: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 999.9,
          ),
        )),
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          priority: 100,
          is_active: false,
          hdr: false,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 999.9,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::camera::camera::CameraRenderGraph": ("core_2d"),
        "bevy_render::view::visibility::VisibleEntities": (),
        "bevy_render::primitives::Frustum": (),
        "bevy_core_pipeline::tonemapping::Tonemapping": Disabled,
        "bevy_core::name::Name": (
          hash: 16994279378579215030,
          name: "Editor Camera 2D Pan/Zoom",
        ),
        "bevy_render::camera::projection::OrthographicProjection": (
          left: -622.0,
          right: 622.0,
          bottom: -350.0,
          top: 350.0,
          near: 0.0,
          far: 1000.0,
          window_origin: Center,
          scaling_mode: WindowSize,
          scale: 0.69664705,
        ),
        "bevy_core_pipeline::core_2d::camera_2d::Camera2d": (
          clear_color: Default,
        ),
        "bevy_pbr::light::ClusterConfig": FixedZ(
          total: 4096,
          z_slices: 24,
          z_config: (
            first_slice_depth: 5.0,
            far_z_mode: MaxLightRange,
          ),
          dynamic_resizing: true,
        ),
      },
    ),
    3: (
      components: {
        "bevy_core::name::Name": (
          hash: 17888153447371213328,
          name: "Joan Piper",
        ),
        "expansion::core::component::desc::Desc": (
          short: "Joan Piper",
          long: "Capitain of the first station formerly known as \'this should just work\'",
        ),
        "expansion::core::component::character::Character": (
          credits: 1000,
          owns: [],
        ),
        "expansion::core::component::tags::PlayerTag": (),
      },
    ),
    4: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 2192949766665152398,
          name: "Alpha",
        ),
        "expansion::core::component::desc::Desc": (
          short: "Alpha",
          long: "",
        ),
        "expansion::core::component::basics::BasicParameter": (
          mass: 390.0,
          volume: 45.0,
          extend: (
            x: 5.0,
            y: 3.0,
            z: 3.0,
          ),
        ),
        "expansion::core::component::energy::Energy": (
          act_storage: 100.0,
          max_storage: 100.0,
          production: 0.0,
          consumption: 10.0,
        ),
        "expansion::core::component::shadow::Shadow": (
          energy: (
            act_storage: 100.0,
            max_storage: 100.0,
            production: 0.0,
            consumption: 10.0,
          ),
        ),
        "expansion::core::component::tags::StationTag": (),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 5,
          ),
        ]),
      },
    ),
    5: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 11175075905284670035,
          name: "Central Hub",
        ),
        "expansion::core::component::desc::Desc": (
          short: "Central Hub",
          long: "",
        ),
        "expansion::core::component::basics::BasicParameter": (
          mass: 390.0,
          volume: 45.0,
          extend: (
            x: 5.0,
            y: 3.0,
            z: 3.0,
          ),
        ),
        "expansion::core::component::energy::Energy": (
          act_storage: 100.0,
          max_storage: 100.0,
          production: 0.0,
          consumption: 10.0,
        ),
        "expansion::core::component::shadow::Shadow": (
          energy: (
            act_storage: 100.0,
            max_storage: 100.0,
            production: 0.0,
            consumption: 10.0,
          ),
        ),
        "expansion::core::component::tags::ModuleTag": (),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 4,
        )),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 7,
          ),
        ]),
      },
    ),
    6: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 10,
          ),
        ]),
        "bevy_asset::handle::Handle<bevy_scene::scene::Scene>": (
          id: AssetPathId(((11103282357635473575), (17908982665524773019))),
        ),
      },
    ),
    7: (
      components: {
        "bevy_core::name::Name": (
          hash: 6113445310000165038,
          name: "Habitat",
        ),
        "expansion::core::component::desc::Desc": (
          short: "Habitat",
          long: "",
        ),
        "expansion::core::component::basics::BasicParameter": (
          mass: 1600.0,
          volume: 12.0,
          extend: (
            x: 3.0,
            y: 2.0,
            z: 2.0,
          ),
        ),
        "expansion::core::component::energy::Energy": (
          act_storage: 100.0,
          max_storage: 100.0,
          production: 0.0,
          consumption: 10.0,
        ),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 5,
        )),
        "expansion::core::component::habitat::Habitat": (
          volume: 6.0,
          o2: 1.5768000000000002,
          n2: 5.568,
          co2: 0.0,
          k_pa: 101.325,
          temperature: 20.0,
        ),
      },
    ),
    8: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 4.0,
            y: 8.0,
            z: 4.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.0,
            y: 8.0,
            z: 4.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_pbr::light::PointLight": (
          color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          intensity: 1500.0,
          range: 20.0,
          radius: 0.0,
          shadows_enabled: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 0.6,
        ),
        "bevy_pbr::bundle::CubemapVisibleEntities": (),
        "bevy_render::primitives::CubemapFrusta": (),
      },
    ),
    9: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 0.68280464,
              y: 0.0,
              z: -0.73060095,
            ),
            y_axis: (
              x: -0.43100196,
              y: 0.80745584,
              z: -0.40280557,
            ),
            z_axis: (
              x: 0.58992803,
              y: 0.589928,
              z: 0.5513346,
            ),
          ),
          translation: (
            x: 10.7,
            y: 10.7,
            z: 10.0,
          ),
        )),
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          priority: 0,
          is_active: false,
          hdr: false,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 10.7,
            y: 10.7,
            z: 10.0,
          ),
          rotation: (-0.28461123, 0.37858835, 0.12356588, 0.87200844),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::camera::camera::CameraRenderGraph": ("core_3d"),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.7771429,
          near: 0.1,
          far: 1000.0,
        )),
        "bevy_render::view::visibility::VisibleEntities": (),
        "bevy_render::primitives::Frustum": (),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          clear_color: Default,
          depth_load_op: Clear(0.0),
        ),
        "bevy_core_pipeline::tonemapping::Tonemapping": Enabled(
          deband_dither: true,
        ),
        "bevy_pbr::light::ClusterConfig": FixedZ(
          total: 4096,
          z_slices: 24,
          z_config: (
            first_slice_depth: 5.0,
            far_z_mode: MaxLightRange,
          ),
          dynamic_resizing: true,
        ),
      },
    ),
    10: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 6,
        )),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 11,
          ),
        ]),
      },
    ),
    11: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 0.00000005960464,
              y: -0.9999998,
              z: 0.0,
            ),
            y_axis: (
              x: 1.9999996,
              y: 0.00000011920928,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.70710677, -0.7071067),
          scale: (
            x: 0.99999994,
            y: 1.9999999,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 13593927482857890079,
          name: "Cylinder",
        ),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 10,
        )),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 12,
          ),
        ]),
      },
    ),
    12: (
      components: {
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 0.00000005960464,
              y: -0.9999998,
              z: 0.0,
            ),
            y_axis: (
              x: 1.9999996,
              y: 0.00000011920928,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        ),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::primitives::Aabb": (
          center: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          half_extents: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
          id: AssetPathId(((11103282357635473575), (10580036919940196184))),
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 9838651391429405387,
          name: "Cylinder.001",
        ),
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 11,
        )),
        "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
          id: AssetPathId(((11103282357635473575), (3443497372379138987))),
        ),
      },
    ),
    13: (
      components: {},
    ),
    14: (
      components: {},
    ),
  },
)