[
  (
    entity: 0,
    components: [
      {
        "type": "bevy_hierarchy::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 2,
              },
            ],
          },
        ],
      },
      {
        "type": "expansion::core::component::desc::Desc",
        "struct": {
          "name": {
            "type": "alloc::string::String",
            "value": "Will Riker",
          },
          "longtext": {
            "type": "alloc::string::String",
            "value": "First Officer",
          },
        },
      },
      {
        "type": "expansion::core::component::account::Account",
        "struct": {
          "credits": {
            "type": "u64",
            "value": 1000,
          },
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "bevy_hierarchy::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 2,
          },
        ],
      },
      {
        "type": "bevy_hierarchy::components::parent::PreviousParent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 2,
          },
        ],
      },
      {
        "type": "expansion::core::component::desc::Desc",
        "struct": {
          "name": {
            "type": "alloc::string::String",
            "value": "Central Hub",
          },
          "longtext": {
            "type": "alloc::string::String",
            "value": "",
          },
        },
      },
      {
        "type": "expansion::core::component::energy::Energy",
        "struct": {
          "act_storage": {
            "type": "f64",
            "value": 10000.0,
          },
          "max_storage": {
            "type": "f64",
            "value": 100000.0,
          },
          "production": {
            "type": "f64",
            "value": 10.0,
          },
          "consumption": {
            "type": "f64",
            "value": 10.0,
          },
        },
      },
      {
        "type": "expansion::core::component::shadow::Shadow",
        "struct": {
          "energy": {
            "type": "expansion::core::component::energy::Energy",
            "struct": {
              "act_storage": {
                "type": "f64",
                "value": 0.0,
              },
              "max_storage": {
                "type": "f64",
                "value": 0.0,
              },
              "production": {
                "type": "f64",
                "value": 0.0,
              },
              "consumption": {
                "type": "f64",
                "value": 0.0,
              },
            },
          },
        },
      },
      {
        "type": "expansion::core::component::basics::BasicParameter",
        "struct": {
          "mass": {
            "type": "f32",
            "value": 2000.0,
          },
          "volume": {
            "type": "f32",
            "value": 5.0,
          },
          "extend": {
            "type": "glam::vec3::Vec3",
            "value": (5.0, 3.0, 3.0),
          },
        },
      },
    ],
  ),
  (
    entity: 2,
    components: [
      {
        "type": "bevy_hierarchy::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 1,
              },
            ],
          },
        ],
      },
      {
        "type": "bevy_hierarchy::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
        ],
      },
      {
        "type": "bevy_hierarchy::components::parent::PreviousParent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
        ],
      },
      {
        "type": "expansion::core::component::desc::Desc",
        "struct": {
          "name": {
            "type": "alloc::string::String",
            "value": "ISS",
          },
          "longtext": {
            "type": "alloc::string::String",
            "value": "",
          },
        },
      },
      {
        "type": "expansion::core::component::energy::Energy",
        "struct": {
          "act_storage": {
            "type": "f64",
            "value": 0.0,
          },
          "max_storage": {
            "type": "f64",
            "value": 0.0,
          },
          "production": {
            "type": "f64",
            "value": 0.0,
          },
          "consumption": {
            "type": "f64",
            "value": 0.0,
          },
        },
      },
      {
        "type": "expansion::core::component::shadow::Shadow",
        "struct": {
          "energy": {
            "type": "expansion::core::component::energy::Energy",
            "struct": {
              "act_storage": {
                "type": "f64",
                "value": 0.0,
              },
              "max_storage": {
                "type": "f64",
                "value": 0.0,
              },
              "production": {
                "type": "f64",
                "value": 0.0,
              },
              "consumption": {
                "type": "f64",
                "value": 0.0,
              },
            },
          },
        },
      },
    ],
  ),
]