(
  entities: {
    0: (
      components: {
        "expansion::core::component::name::Name": (
          name: "Joan Piper",
          longtext: "Capitain of the first station formerly known as \'this should just work\'",
        ),
        "expansion::core::component::character::Character": (
          credits: 1000,
          owns: [],
        ),
      },
    ),
    1: (
      components: {
        "expansion::core::component::name::Name": (
          name: "Alpha",
          longtext: "",
        ),
        "expansion::core::component::energy::Energy": (
          act_storage: 0.0,
          max_storage: 0.0,
          production: 0.0,
          consumption: 0.0,
        ),
        "expansion::core::component::shadow::Shadow": (
          energy: (
            act_storage: 0.0,
            max_storage: 0.0,
            production: 0.0,
            consumption: 0.0,
          ),
        ),
        "expansion::core::component::tags::StationTag": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 2,
          ),
        ]),
      },
    ),
    2: (
      components: {
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 1,
        )),
        "bevy_hierarchy::components::children::Children": ([
          (
            generation: 0,
            index: 3,
          ),
        ]),
      },
    ),
    3: (
      components: {
        "bevy_hierarchy::components::parent::Parent": ((
          generation: 0,
          index: 2,
        )),
        "expansion::core::component::habitat::Habitat": (
          volume: 6.0,
          o2: 1.5768000000000002,
          n2: 5.568,
          co2: 0.0,
          k_pa: 101.325,
          temperature: 20.0,
        ),
      },
    ),
  },
)