(
    tick_counter: 911,
    warp: 3600,
    worldtime: "2030-02-07T23:46:31.310878800+00:00",
    time_last: (
        secs_since_epoch: 1672838736,
        nanos_since_epoch: 859532157,
    ),
    step_leng: (
        secs: 0,
        nanos: 999743340,
    ),
    step_leng_warp: (
        secs: 3599,
        nanos: 76024000,
    ),
)