(
    tick_counter: 1176,
    warp: 3600,
    worldtime: "2030-02-19T00:53:02.274633600+00:00",
    time_last: (
        secs_since_epoch: 1672991991,
        nanos_since_epoch: 210317492,
    ),
    step_leng: (
        secs: 1,
        nanos: 2716758,
    ),
    step_leng_warp: (
        secs: 3609,
        nanos: 780328800,
    ),
)