(
    tick_counter: 1911,
    warp: 3600,
    worldtime: "2030-03-21T16:58:29.034375600+00:00",
    time_last: (
        secs_since_epoch: 1691734514,
        nanos_since_epoch: 498080085,
    ),
    step_leng: (
        secs: 0,
        nanos: 979530352,
    ),
    step_leng_warp: (
        secs: 3526,
        nanos: 309267200,
    ),
)